//

@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;

.header {
  height: 95vh;
  background-image:
    linear-gradient(
      to bottom,
      rgba(var.$color-primary-light, 0.8),
      rgba(var.$color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /* clip-path: polygon(0 0, 100% 50%, 0 100%); */

  position: relative;

  @supports (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or
    (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    // 192dpi ဆိုတာ hight resolution retina display
    // 192dpi ထက် pixel များတဲ့ screen တွေမှာ ဒီ Code က အလုပ်လုပ်မှာ
    //@media (min-resolution: 192dpi) and (min-width: 37.5em) က တစ်ခု
    // (min-width: 125em) က တစ်ခု

    background-image:
      linear-gradient(
        to bottom,
        rgba(var.$color-primary-light, 0.8),
        rgba(var.$color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
  }

  @include mx.respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  &__logo {
    //

    &-link {
      display: inline-block;
    }

    &-img {
      height: 3.6rem;
    }

    &-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }
}
