/* 

--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 06 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


 COLORs

 light green: #7ed56f
 Medium Green: #55c57a
 Dark Green: #28b485;

*/

@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;

/* ALL Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  // @media (max-width: 900px) {
  //   font-size: 50%;
  // }

  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }

  // @include mx.respond-phone {
  //   font-size: 50%;
  // }

  @include mx.respond(big-desktop) {
    font-size: 87.5%; // 1rem == 12px, 12/16 - 75%
  }

  @include mx.respond(tab-land) {
    // 1200px
    font-size: 56.25%; // 1rem == 9px, 9/16 - 56.25%
  }

  @include mx.respond(tab-port) {
    // 900px
    font-size: 50%; // 1rem == 8px, 8/16 - 50%
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var.$color-grey-dark;
  box-sizing: border-box;
  padding: 3rem;

  @include mx.respond(tab-port) {
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

::selection {
  background-color: var.$color-primary;
  color: var.$color-white;
}
