body {
  padding: 50px;
}

.button {
  font-size: 20px;
  color: white;
  background-color: blue;
}

a {
  background-color: purple;
}

#nav div.pull-right a {
  background-color: orangered;
}

#nav a.button:hover {
  background-color: yellow;
}
