//

@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;

.book {
  background-image:
    linear-gradient(105deg, rgba(var.$color-white, 0.9) 50%, transparent 0%),
    url("../img/nat-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(var.$color-black, 0.2);

  @include mx.respond(tab-land) {
    background-image:
      linear-gradient(105deg, rgba(var.$color-white, 0.9) 65%, transparent 0%),
      url("../img/nat-10.jpg");
  }

  @include mx.respond(tab-port) {
    background-image:
      linear-gradient(to right, rgba(var.$color-white, 0.9) 100%),
      url("../img/nat-10.jpg");
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include mx.respond(tab-land) {
      width: 65%;
    }
    @include mx.respond(tab-port) {
      width: 100%;
    }
  }
}
