//

@use "../abstract/" as ab;

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: ab.getColor(light);

  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 2rem;

  @media only screen and (max-width: ab.$bp-smallest) {
    margin-inline: 2rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: ab.$bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: ab.getColor(grey_dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: ab.getColor(light);
  // min-height: 80rem;

  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: ab.getColor(grey_light-1);
  border-bottom: 1px solid ab.getColor(grey_light-2);

  @media only screen and (max-width: ab.$bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: ab.$bp-small) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;

  background-color: ab.getColor(light);
  margin-right: 4.5rem;
  font-size: 1.4rem;
  padding: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  @media only screen and (max-width: ab.$bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: ab.$bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  // background-color: yellowgreen;
  flex: 1;
}
